beautifulsoup4==4.12.3
certifi==2024.12.14
charset-normalizer==3.4.1
distlib==0.3.9
docopt==0.6.2
filelock==3.17.0
idna==3.10
lxml==5.3.0
mockito==1.5.4
numpy==2.2.1
packaging==24.2
pandas==2.2.3
pipenv==2024.4.1
pipreqs==0.4.13
platformdirs==4.3.6
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
setuptools==75.8.0
six==1.17.0
soupsieve==2.6
tzdata==2024.2
urllib3==2.3.0
virtualenv==20.29.1
yarg==0.1.10
